In [1]:
import pandas as pd

In [4]:
seeds = pd.read_csv("MNCAATourneySeeds.csv")

In [9]:
import json
with open("output/kaggle_map.json",'r') as f:
    kaggle_map = json.load(f)

In [11]:
with open("output/espn_teams.json", 'r') as f:
    espn_teams = json.load(f)

In [15]:
for idx, row in seeds.iterrows():
    id_ = row.TeamID
    espn_id = kaggle_map[str(id_)]
    espn_name = espn_teams[espn_id]
    seeds.loc[idx,"Name"] = espn_name.get("name")

In [17]:
seeds.to_csv("seeds.csv")

In [42]:
for char in ['W']:
    dfs = []
    dfs.append(seeds[seeds.Seed.isin([f'Y01', f'W04'])])
    
    for df in dfs:
        s = "2023_"
        t = ""
        ids = []
        for _, row in seeds.iterrows():
            ids.append(str(row.TeamID))
            t += f"{row.Name} - {row.TeamID} : "
        s += "_".join(sorted(ids))
        print(s)
        print(t)
        
    print()

2023_1222_1397
Tennessee Volunteers - 1397 : Houston Cougars - 1222 :

In [47]:
from pprint import pprint
ids = []
for _, row in seeds.iterrows():
    s = f"{row.TeamID} - {row.Name}"
    ids.append(s)
    
pprint(ids)

['1345 - Purdue Boilermakers',
 '1266 - Marquette Golden Eagles',
 '1243 - Kansas State Wildcats',
 '1397 - Tennessee Volunteers',
 '1181 - Duke Blue Devils',
 '1246 - Kentucky Wildcats',
 '1277 - Michigan State Spartans',
 '1272 - Memphis Tigers',
 '1194 - Florida Atlantic Owls',
 '1425 - USC Trojans',
 '1344 - Providence Friars',
 '1331 - Oral Roberts Golden Eagles',
 "1418 - Louisiana Ragin' Cajuns",
 '1286 - Montana State Bobcats',
 '1436 - Vermont Catamounts',
 '1192 - Fairleigh Dickinson Knights',
 '1411 - Texas Southern Tigers',
 '1104 - Alabama Crimson Tide',
 '1112 - Arizona Wildcats',
 '1124 - Baylor Bears',
 '1438 - Virginia Cavaliers',
 '1361 - San Diego State Aztecs',
 '1166 - Creighton Bluejays',
 '1281 - Missouri Tigers',
 '1268 - Maryland Terrapins',
 '1452 - West Virginia Mountaineers',
 '1429 - Utah State Aggies',
 '1301 - NC State Wolfpack',
 '1158 - Charleston Cougars',
 '1202 - Furman Paladins',
 '1364 - UC Santa Barbara Gauchos',
 '1343 - Princeton Tigers',
 '1369 - Southeast Missouri State Redhawks',
 '1394 - Texas A&M-Corpus Christi Islanders',
 '1222 - Houston Cougars',
 '1400 - Texas Longhorns',
 '1462 - Xavier Musketeers',
 '1231 - Indiana Hoosiers',
 '1274 - Miami Hurricanes',
 '1235 - Iowa State Cyclones',
 '1401 - Texas A&M Aggies',
 '1234 - Iowa Hawkeyes',
 '1120 - Auburn Tigers',
 '1336 - Penn State Nittany Lions',
 '1280 - Mississippi State Bulldogs',
 '1338 - Pittsburgh Panthers',
 '1179 - Drake Bulldogs',
 '1245 - Kent State Golden Flashes',
 '1244 - Kennesaw State Owls',
 '1159 - Colgate Raiders',
 '1297 - Northern Kentucky Norse',
 '1242 - Kansas Jayhawks',
 '1417 - UCLA Bruins',
 '1211 - Gonzaga Bulldogs',
 '1163 - UConn Huskies',
 "1388 - Saint Mary's Gaels",
 '1395 - TCU Horned Frogs',
 '1321 - Northwestern Wildcats',
 '1116 - Arkansas Razorbacks',
 '1228 - Illinois Fighting Illini',
 '1129 - Boise State Broncos',
 '1113 - Arizona State Sun Devils',
 '1305 - Nevada Wolf Pack',
 '1433 - VCU Rams',
 '1233 - Iona Gaels',
 '1213 - Grand Canyon Lopes',
 '1421 - UNC Asheville Bulldogs',
 '1224 - Howard Bison']