In [11]:
import pandas as pd
import random
import pickle
import json
import time
import pymongo

In [6]:
with open("ann_scores.pck", 'rb') as f:
    ann_scores = pickle.load(f)
with open("ann_winner.pck", 'rb') as f:
    ann_winner = pickle.load(f)
with open("lin_scores.pck", 'rb') as f:
    lin_scores = pickle.load(f)

In [8]:
with open("../output/kaggle_map.json", 'r') as f:
    kaggle_map = json.load(f)

In [9]:
sample_submission = pd.read_csv("SampleSubmission2023.csv")

In [60]:
sample_submission

                    ID  Pred
0       2023_1101_1102   0.5
1       2023_1101_1103   0.5
2       2023_1101_1104   0.5
3       2023_1101_1105   0.5
4       2023_1101_1106   0.5
...                ...   ...
130678  2023_3474_3476   0.5
130679  2023_3474_3477   0.5
130680  2023_3475_3476   0.5
130681  2023_3475_3477   0.5
130682  2023_3476_3477   0.5

[130683 rows x 2 columns]

In [12]:
client = pymongo.MongoClient("mongodb+srv://ryanegbert15:admin@marchmadness.umglste.mongodb.net/?retryWrites=true&w=majority")
db = client.marchmadness
teams = db.team_stats

In [33]:
all_teams = list(teams.find())

In [34]:
def search_all_teams(year, team_id):
    for team in all_teams:
        if team.get("year") == year and team.get("team_id") == team_id:
            return team
    return None

In [39]:
# ANN Winner Prediction

record_pct = []
ppg = []
fg = []
fga = []
obpi = []
dbpi = []
sor = []
opp_record_pct = []
opp_ppg = []
opp_fg = []
opp_fga = []
opp_obpi = []
opp_dbpi = []
opp_sor = []

for idx, row in sample_submission.iterrows():
    print(f"{round(idx/sample_submission.shape[0]*100,2)}% complete", end='\r', flush=True)
    game = row.ID.split("_")
    year = game[0]
    team1 = game[1]
    team2 = game[2]
    
    if team1 in kaggle_map and team2 in kaggle_map:
        team1_data = search_all_teams(int(year), kaggle_map[team1])
        team2_data = search_all_teams(int(year), kaggle_map[team2])
        
        record_pct.append(team1_data.get("info").get("OVR_PERCENT"))
        ppg.append(team1_data.get("stats").get("PPG"))
        fg.append(team1_data.get("stats").get("FG%"))
        fga.append(team1_data.get("stats").get("FGAPG"))
        obpi.append(team1_data.get("bpi_info").get("off"))
        dbpi.append(team1_data.get("bpi_info").get("def"))
        sor.append(team1_data.get("resume_info").get("sor"))
        opp_record_pct.append(team2_data.get("info").get("OVR_PERCENT"))
        opp_ppg.append(team2_data.get("stats").get("PPG"))
        opp_fg.append(team2_data.get("stats").get("FG%"))
        opp_fga.append(team2_data.get("stats").get("FGAPG"))
        opp_obpi.append(team2_data.get("bpi_info").get("off"))
        opp_dbpi.append(team2_data.get("bpi_info").get("def"))
        opp_sor.append(team2_data.get("resume_info").get("sor"))

#         break
        
input_data = pd.DataFrame({
    "RECORD_PCT": record_pct,
    "PPG": ppg,
    "FG%": fg,
    "FGAPG": fga,
    "OBPI": obpi,
    "DBPI": dbpi,
    "SOR": sor,
    "OPP_RECORD_PCT": opp_record_pct,
    "OPP_PPG": opp_ppg,
    "OPP_FG%": opp_fg,
    "OPP_FGAPG": opp_fga,
    "OPP_OBPI": opp_obpi,
    "OPP_DBPI": opp_dbpi,
    "OPP_SOR": opp_sor
})

prob = ann_winner.predict_proba(input_data)
print(prob)

[[0.43546741 0.56453259]mplete67.89% complete73.43% complete
 [0.25850461 0.74149539]
 [0.00874303 0.99125697]
 ...
 [0.38464388 0.61535612]
 [0.62056253 0.37943747]
 [0.71771934 0.28228066]]

In [37]:
def score_to_proba(score1, score2):
    pd = score1 - score2
    proba = (15+pd)/30
    if proba > 1: 
        proba = 1.0
    if proba < 0:
        proba = 0.0
    return proba

In [41]:
ann_winner_prob = []
ann_score_prob = []
lin_score_prob = []

In [43]:
awprob = ann_winner.predict_proba(input_data)
asprob = ann_scores.predict(input_data)
lsprob = lin_scores.predict(input_data)

In [49]:
for prob in awprob:
    ann_winner_prob.append(prob[0])
    
for prob in asprob:
    ann_score_prob.append(score_to_proba(prob[0], prob[1]))
    
for prob in lsprob:
    lin_score_prob.append(score_to_proba(prob[0], prob[1]))

In [67]:
now = int(time.time())

awsub = open(f"../submissions/awsub_{now}.csv", 'w')
assub = open(f"../submissions/assub_{now}.csv", 'w')
lssub = open(f"../submissions/lssub_{now}.csv", 'w')

subs = [awsub, assub, lssub]
ids = []

for sub in subs:
    sub.write("ID,Pred\n")

index = 0
for idx, row in sample_submission.iterrows():
    print(f"{round(idx/sample_submission.shape[0]*100,2)}% complete", end='\r', flush=True)
    game = row.ID.split("_")
    year = game[0]
    team1 = game[1]
    team2 = game[2]
    
    
    if team1 in kaggle_map and team2 in kaggle_map:
        awsub.write(f"{row.ID},{ann_winner_prob[index]}\n")
        assub.write(f"{row.ID},{ann_score_prob[index]}\n")
        lssub.write(f"{row.ID},{lin_score_prob[index]}\n")
        ids.append(row.ID)
        index += 1
    else:
        for sub in subs:
            sub.write(f"{row.ID},{random.uniform(0.4,0.6)}\n")

for sub in subs:
    sub.close()

In [56]:
index

59685

In [59]:
len(lin_score_prob)

59685

In [68]:
lin_data = input_data.copy()
lin_data["PRED"] = lin_score_prob
lin_data["ID"] = ids

annw = input_data.copy()
annw["PRED"] = ann_winner_prob
annw["ID"] = ids

anns = input_data.copy()
anns["PRED"] = ann_score_prob
anns["ID"] = ids

In [70]:
lin_data

,RECORD_PCT,PPG,FG%,FGAPG,OBPI,DBPI,SOR,OPP_RECORD_PCT,OPP_PPG,OPP_FG%,OPP_FGAPG,OPP_OBPI,OPP_DBPI,OPP_SOR,PRED,ID
0,.433,75.0,45.1,60.000000,0.4,-0.2,211,.438,66.9,46.2,51.125000,-0.2,-0.9,205,0.539560,2023_1101_1102
1,.433,75.0,45.1,60.000000,0.4,-0.2,211,.667,74.6,44.5,57.515152,2.5,1.8,119,0.339857,2023_1101_1103
2,.433,75.0,45.1,60.000000,0.4,-0.2,211,.853,82.2,44.6,62.205882,8.2,10.9,1,0.000000,2023_1101_1104
3,.433,75.0,45.1,60.000000,0.4,-0.2,211,.455,69.6,44.1,56.606061,-5.9,-2.8,322,0.938381,2023_1101_1105
4,.433,75.0,45.1,60.000000,0.4,-0.2,211,.258,63.3,37.5,58.741935,-8.4,-3.9,345,1.000000,2023_1101_1106
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59680,.563,74.9,46.3,58.812500,-0.6,-3.4,180,.455,66.3,45.9,52.666667,-0.2,-3.3,223,0.472669,2023_1466_1468
59681,.563,74.9,46.3,58.812500,-0.6,-3.4,180,.333,68.6,43.0,57.333333,-3.3,-3.9,291,0.632814,2023_1466_1471
59682,.529,62.6,41.9,51.323529,-9.2,3.3,260,.455,66.3,45.9,52.666667,-0.2,-3.3,223,0.359389,2023_1467_1468
59683,.529,62.6,41.9,51.323529,-9.2,3.3,260,.333,68.6,43.0,57.333333,-3.3,-3.9,291,0.519534,2023_1467_1471
59684,.455,66.3,45.9,52.666667,-0.2,-3.3,223,.333,68.6,43.0,57.333333,-3.3,-3.9,291,0.660750,2023_1468_1471

In [133]:
lin_data[lin_data.ID == "2023_1266_1345"][["PRED", "ID"]]

           PRED              ID
41037  0.400449  2023_1266_1345